<div *ngIf="selectedHardware" class="card">
  <div class="card-header">
    <p>{{selectedHardware.name}}</p>
  </div>
  <div class="card-body">
    <p  class="card-tex()t">{{'detail.price' | translate}}{{selectedHardware.price}} $</p>
      <a (click)="goBack()"  class="btn btn-light">{{'detail.back' | translate}}</a>
  </div>
</div>

<h1 *ngIf="reviewList?.length > 0" class="m-5">{{'detail.allreviews' | translate}}</h1>
<p *ngIf="reviewList?.length == 0 " class="m-5">{{'detail.noreviews' | translate}}</p>
<ul *ngIf="reviewList?.length > 0"  class=" m-5 list-group">
  <li [ngClass]=" 'list-group-item' " *ngFor="let re of reviewList">
    <h4>{{re.title}}</h4>
    <br>
    <h5>{{re.rating}} / 5</h5>
    <br>
    <p>{{re.content}}</p>


  </li>
</ul>

